<div class="npcforge-dialogAmunicji">

<div class="npcforge-dialogAmunicji-zawartosc">
  <p class="hint">{{localize "NPCForge.AmunicjaOpis"}}</p>
  <hr>

  <div id="lista-amunicji">
      <!--Zawartość-->
  </div>
</div>
{{pustaLinia}}

</div>