<div class="npcforge-dialogTagi">

  <div id="npcforge-listaTagow" class="npcforge-dialogTagowZawartosc">
    <!--Zawartość-->
  </div>

  {{pustaLinia}}

  <div class="npcforge-dodajTag">

    <span></span>

    <input id="nowy-tag" type="text"/>

    <span></span>

    <button id="dodaj-tag">➕</button>

    <span></span>

  </div>

</div>
