<div class="npcforge-dialogBroni">

  <div class="npcforge-dialogBroni-liniaTagow">
    
    <select id="wybor-tagu">
      <option value="">{{localize "NPCForge.WybierzZListy"}}</option>
      {{#each tagi}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <span></span>

    <button id="edytuj-tagi">⚙️</button>
    
  </div>

  <div id="lista-broni" class="npcforge-dialogPrzewag-zawartosc">
    <!--Zawartość-->
  </div>

{{pustaLinia}}

</div>