<div class="npcforge-dialogPancerza">

  <div class="npcforge-dialogPancerza-liniaTagow">
    
    <select id="wybor-tagu">
      <option value="">{{localize "NPCForge.WybierzZListy"}}</option>
      {{#each tagi}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <span></span>

    <button type="button" id="edytuj-tagi">⚙️</button>
    
  </div>

  <div id="lista-pancerza" class="npcforge-dialogPancerza-zawartosc">
    <!--Zawartość-->
  </div>

{{pustaLinia}}

</div>