<div class="npcforge-dialogNadprzyrodzone">

<div class="npcforge-dialogNadprzyrodzone-zawartosc">
  <p class="hint">{{localize "NPCForge.NadprzyrodzoneOpis"}}</p>
  <hr>

  <div id="lista-przewag">
      <!--Zawartość-->
  </div>
</div>
{{pustaLinia}}

</div>